header{
    background-image: url('../images/andrew.jpg');
    background-size: cover;
    background-position: center;
    height: 75vh;
}

.bg-purple{
    background-color: rgb(41, 5, 58);
}

.nav-link{
    color: rgb(207, 169, 234) !important;
}